<?php

/**
 * Copyright 2021, 2024 5 Mode
 *
 * This file is part of Http Console.
 *
 * Http Console is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Http Console is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.  
 * 
 * You should have received a copy of the GNU General Public License
 * along with Http Console. If not, see <https://www.gnu.org/licenses/>.
 *
 * HC_config.inc
 * 
 * Http Console configuration settings.
 *
 * @author Daniele Bonini <my25mb@aol.com>
 * @copyrights (c) 2021, 2024, 5 Mode     
 */

define('HC_DEBUG', true);
 
define('HC_APP_NAME', "Http Console");

// password: yourpassword
// salt: yoursalt
define('HC_APP_HASH', "");

define('HC_APP_SPLASH', true);

define('HC_APP_PATH', "/var/www/YourWebApp/Private/HttpConsole");
define('HC_APP_PROMPT', "HC:~ $1$");
define('HC_APP_SALT', "yoursalt");
define('HC_APP_STAGE_PATH', "/var/www/YourWebApp/Public/stage");

define('HC_CMDLINE_VALIDCMDS', "~|ls|ls -lsa|pwd|cd|cd ..|cp|mv|");

define('HC_HISTORY_MAX_ITEMS', 50);

define('HC_RECALL_HISTORY_MAX_ITEMS', 50);

define('HC_WEBSITE_WEBROOT', "/var/www/YourWebApp/Public");

$HC_CONFIG = [

   'HC_DEBUG' => true,

   'HC_APP' => [
      'NAME' => "Http Console",
      'HASH' => "",  
      'SPLASH' => true,
      'PATH' => "/var/www/YourWebApp/Private/HttpConsole",
      'PROMPT' => "HC:~ $1$",
      'SALT' => "yoursalt",
      'STAGE_PATH' => "/var/www/YourWebApp/Public/stage"
      ],
     
    'HC_CMDLINE' => [
       'VALIDCMDS' => "~|ls|ls -lsa|pwd|cd|cd ..|cp|mv|"  
      ],
      
    'HC_HISTORY' => [
       'MAX_ITEMS' => 50
      ],

    'HC_RECALL_HISTORY' => [
       'MAX_ITEMS' => 50
      ],
    
     'HC_WEBSITE' => [
       'WEBROOT' => "/var/www/YourWebApp/Public"
      ]     
    ];  
